<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="e.oguz.farmmanagementapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RegisterActivity"
            android:icon="@drawable/ic_person_add_black_24dp"
            android:parentActivityName=".LoginActivity" />
        <activity
            android:name=".MainActivity"
            android:icon="@drawable/ic_home_black_24dp"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ProfileActivity" />
        <activity
            android:name=".FarmActivity"
            android:label="@string/title_activity_farm"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".EditFarmActivity"
            android:parentActivityName=".FarmActivity" />
        <activity
            android:name=".AddFarmActivity"
            android:parentActivityName=".FarmActivity" />
        <activity
            android:name=".CoopActivity"
            android:label="@string/title_activity_coop"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".BarnsActivity"
            android:label="@string/title_activity_barns"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".BeeHiveActivity"
            android:label="@string/title_activity_bee_hive"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".AnimalsActivity"
            android:label="@string/title_activity_animals"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".DetailFarmActivity"
            android:parentActivityName=".FarmActivity" />
        <activity
            android:name=".AddCoopActivity"
            android:parentActivityName=".FarmActivity" />
        <activity android:name=".Fragment.Chicken" />
        <activity
            android:name=".SendMeActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".coopdetailDetailActivity"
            android:label="@string/title_coopdetail_detail"
            android:parentActivityName=".coopdetailListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="e.oguz.farmmanagementapp.coopdetailListActivity" />
        </activity>
    </application>

</manifest>